.chat-side
  .side-header
    .side-header__box
      %h3.side-header__box--user-name mako
      %ul.side-header__box--user-name
        %li.side-header__box__user-name__user
          = link_to  do
            = icon('fas' , 'edit', class: 'icon')
        %li.side-header__box__user-name__group
          = link_to "#" do
            = icon('fas' , 'cog', class: 'icon')
  .groups
    .group
      %p.group__name
        test
      %p.group__latest-mwessage
        test 
        