* {
  box-sizing: border-box;
}

.chat-main{
  float: right;
  height:100vh;
  width: calc(100vw - 300px);

  .main-header{
    border-bottom: solid 1px #eee;
    padding:0 40px;
    height:100px;
    width: calc(100vw - 300px);
    &__left-box{
      float: left;
      margin-top: 35px;
      &--current-group{
          font-size: 20px;
          color: #333;
          margin-bottom: 15px;
      }
      &--member-list{
        display: flex;
        font-size: 12px;
        color: #999999;
      }
    }
    &__edit{
      &__edit-btn{
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 30px;
        border: solid 1px blue;
        position: absolute;
        right: 40px;
        color:blue;
      }
    }
  }
  
}

.messages{
  border: #eeeeee;
  padding: 46px 40px;
  height: calc(100vh - 190px);
  background-color: #fafafa;
  
  width: calc(100vw - 300px);
  overflow: scroll;
  .message{
    padding-bottom: 40px;
    &__up-info{
      display: flex;
      margin-bottom: 10px;
      &--date{
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
      }
      &--taker{
        color: gray;
        font-size: 16px;
        font-weight: bold;
      }
    }
    &__text{
      color: gray;
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
}

.form {
  background-color: #DDD;
  box-sizing: border-box;
  height: 90px;
  padding: 20px 50px 20px 40px;
  &__message {
    border: none;
    float: left;
    height: 50px;
    width: calc(100% - 150px);
    padding-left: 19px;
  }
  &__mask {
    background-color: white;
    float: left;
    height: 50px;
    padding-right: 10px;
    &__image {
      font-size: 20px;
      line-height: 50px;
    }
<<<<<<< Updated upstream
    .hidden {
      display: none;
=======
    &__image{
      font-size: 1.3rem;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      // display: none;
      // // display: inline-block;
      .hidden {
        display: none;
      }

>>>>>>> Stashed changes
    }
  }
  &__submit {
    background-color: #38aef0;
    border: none;
    color: white;
    float: right;
    font-size: 16px;
    height: 50px;
    margin-left: 15px;
    padding: 0 30px;
  }
}

.edit{
  color:blue;
}


