.chat-side{
  color: white;
  float: left;
  .side-header{
    display: flex;
    align-items: center;
    height: 100px;    
    width: 300px;
    background-color: #253141;
  }
}

  .groups{
    height: calc(100vh - 100px);
    padding: 20px 20px 0;
    background-color: #2F3E51;
    width: 300px;
    // .group{
    // margin: 0 0 40px;
    // }
}